// 项目主题配置文件
$headerHeight:56px; //头部高度
$navWidth:200px; //侧边栏展开宽度
$navMinWidth:64px; //侧边栏收缩宽度
$firstBgc:#fff; //一级背景颜色
$secondBgc:#f0f3f4; //二级背景颜色
$firstColor:#000; //一级字体颜色
$secondColor:#595959; //二级字体颜色
$threeColor:#c0c4cc; //三级背景颜色